.App {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(white, rgb(241, 241, 156));
    font-family: Garamond, serif;
    font-size: 1.1rem;
}

.content-box {
    display: flex;
    flex-direction: inherit;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white !important;
}
.logo img {
    max-width: 442px;
    width: 50%;
}

.box-1 {
    display: flex;
    flex-direction: row;
    margin: 0.7%;
    /* max-width: 100%; */
}

.trophyimage-div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trophy-img {
    width: 75%;
}
.description {
    width: 110%;
    /* padding: 0 1.3%; */
}

.description img {
    width: 100%;
}

.box-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7%;
}
.items-img {
    width: 80%;
}

hr {
    color: rgb(223, 12, 12);
    background-color: rgb(223, 12, 12);
    width: 95%;
    height: 1.5px;
    margin: 0;
}

.box-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7%;
}

.box-3 em {
    color: rgb(218, 56, 56);
}

.footer {
    background-color: rgb(218, 56, 56);
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) and (min-width: 480px) {
    .App {
        font-size: 0.8rem;
    }

    .footer {
        height: 70px;
    }
}

@media screen and (max-width: 480px) and (min-width: 340px) {
    .App {
        font-size: 0.6rem;
    }

    .box-1 {
        flex-direction: column;
    }

    .box-1 h4 {
        text-align: center;
    }

    .trophy-img {
        width: 40%;
    }

    .description {
        width: 100%;
    }

    .description img {
        width: 90%;
        display: block;
        margin: auto;
    }

    .footer {
        height: 60px;
    }
}

@media screen and (max-width: 340px) {
    .App {
        font-size: 0.5rem;
    }

    .box-1 {
        flex-direction: column;
    }

    .box-1 h4 {
        text-align: center;
    }

    .trophy-img {
        width: 40%;
    }

    .description {
        width: 100%;
    }

    .description img {
        width: 90%;
        display: block;
        margin: auto;
    }

    .footer {
        height: 50px;
    }
    .box-2 {
        font-size: 0.48rem;
    }
    .box-3 {
        font-size: 0.42rem;
    }
}
